html, body {
  margin: 0;
  padding: 0;
  min-width: 1000px;
  font-family: Arial;
}

.user-form {
  margin-top: 200px;
  margin-left: 600px;

}

.reg-form {
  margin-top: 200px;
  margin-left: 550px;
}

.field-name {
  margin-left: 24px;
}

#login {
  margin-left: 100px;
}
#login-submit {
  margin-left: 80px;
}

#registration {
  margin-left: 680px;
}
.reg-h2 {
  margin-left: 75px;
}

.reg-field-name {
  margin-left: 79px;
}

.reg-field-password {
  margin-left: 55px;
}

#task-table {
  margin-top: 10px;
}