<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
</head>
<body>
<div id="task-form">
    <form action="#" name="_method" th:action="@{/tasks/updateTask/{id}(id=${task.id})}" th:object="${task}" th:method="PATCH">
        <input readonly type="hidden" th:field="*{id}" id="id" placeholder="ID">
        <br>
        <label for="description">Описание события:</label>
        <input type="text" th:field="*{description}" value="" id="description">
        <hr>
        <input type="submit" value="Update">

    </form>
    <br>
    <form action="#" th:action="@{/tasks/deleteTask/{id}(id=${task.id})}" th:object="${task}" th:method="DELETE">
        <input type="submit" value="Delete">
    </form>
</div>
</body>
</html>