<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="utf-8">
  <title>Task tracker</title>
</head>
<body>
<div>
  <div sec:authorize="isAuthenticated()">
    <table>
      <tbody>
      <tr>
        <td>
          <form method="GET" th:action="@{/tasks/no_completed_tasks}">
            <input type="hidden" th:attr="value=${taskRequestDTO.authorId}, name='authorId'">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <button>Show no completed tasks</button>
          </form>
        </td>
        <td>
          <form method="GET" th:action="@{/tasks/completed_tasks}">
            <input type="hidden" th:attr="value=${taskRequestDTO.authorId}, name='authorId'">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <button>Show completed tasks</button>
          </form>
        </td>
        <td>
          <form method="GET" th:action="@{/tasks/all_tasks}">
            <input type="hidden" th:attr="value=${taskRequestDTO.authorId}, name='authorId'">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <button>Show all tasks</button>
          </form>
        </td>
        <td>
          <form method="POST" th:action="@{/logout}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <button>Log out</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div th:if="${ex}">
  <h3>Error finding entity in the database</h3>
  <p th:text="${ex}"></p>
</div>

<div>
  <form th:method="GET" th:action="@{/tasks/new}" th:object="${taskRequestDTO}">
    <h2>Schedule a task</h2>
    <label for="input">What's planned?</label>
    <input  type="text" id="input" required th:field="*{description}" value=""/>
    <input type="hidden" th:field="*{authorId}">
    <hr>
    <button>Add to the list</button>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
  </form>
</div>

<table>

  <h1>Task list</h1>

  <tbody>
  <tr th:each="task : ${tasks}">

    <td th:text="${task.description}"></td>
    <td>|</td>
    <td th:text="${task.completedDate}"></td>
    <td>|</td>
    <td>
      <form action="#" name="_method" th:action="@{/tasks/task/complete/{id}(id=${task.id})}"
            th:method="PATCH">
        <button>To complete</button>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
      </form>
    </td>
    <td>
      <form th:method="GET" th:action="@{/tasks/task/{id}(id=${task.id})}">
        <button>Edit</button>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
      </form>
    </td>

  </tr>
  </tbody>
</table>
</body>
</html>
