<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Таск треккер</title>
</head>
<body>
<div id="task-form">
    <form th:method="GET" th:action="@{/tasks/new}" th:object="${taskRequestDTO}">
        <h2>Запланировать событие</h2>
        <input type="hidden"  th:value="${user.userId}" th:attr="name='authorId'" >
        <label for="name">Что запланировано?</label>
        <input type="text" th:field="*{description}" value="" id="name">
        <hr>
        <button id="save-task">Добавить в список</button>
    </form>
</div>
<table>
    <h1>Список запланированных событий </h1>
    <tbody id="task-table">
    <tr th:each="task : ${tasks}">
        <td th:text="${task.description}"></td>
        <td>
            <form action="#" name="_method" th:action="@{/tasks/task/complete/{id}(id=${task.id})}" th:method="PATCH">
            <button >complete task</button>
            </form>
            <form th:method="GET" th:action="@{/tasks/task/{id}(id=${task.id})}">
                <button th:href="@{/tasks/task/{id}(id=${task.id})}">Edit</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>